.header{
    position: absolute;
    width: 1366px;
    height: 56px;
    left: 0px;
    top: 0px;
}
.logo{
    width:40px;
    height:40px
    ;
    position: absolute;
    margin:0.585% 1.75% 0.22% 1.75%;
}
.botany{
    position: absolute;
    left: 5%;
    right: 90%;
    top: 34%;
    bottom: 34%;
}
.text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}
.literature{
    position: absolute;
    left: 90%;
    right: 3%;
    top: 34%;
    bottom: 34%;
}