.menu a, .nav-bar nav a, .nav-bar .brand a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.nav-bar {
  height: 56px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 0.1px solid grey;
}
.nav-bar .brand {
  margin: 8px 0;
  margin-left: 20px;
  position: absolute;
  float: left;
  line-height: 40px;
}
.nav-bar .brand a {
  display: flex;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: none;
}
.nav-bar nav {
  right: 1%;
  position: fixed;
  box-sizing: content-box;
}
.nav-bar nav a {
  font-size: 15pt;
  font-weight: 500;
  text-transform: none;
}
.nav-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar nav ul li {
  float: left;
  position: relative;
  margin: 8px 7pt;
}
.nav-bar nav ul li a {
  line-height: 40px;
}

.entrance-image1 {
  background-image: url(../pictures/vodorosli.jpg);
}

.entrance-image2 {
  background-image: url(../pictures/zelen.jpg);
}

.entrance-image3 {
  background-image: url(../pictures/23123.jpg);
}

.entrance-image4 {
  background-image: url(../pictures/diatom-6.jpg);
}

.entrance-image5 {
  background-image: url(../pictures/sporia.jpg);
}

.entrance-image6 {
  background-image: url(../pictures/aaaaa.jpeg);
}

.entrance-image7 {
  background-image: url(../pictures/paporotnik.jpg);
}

.entrance-image8 {
  background-image: url(../pictures/hvo.jpg);
}

.entrance-image9 {
  background-image: url(../pictures/Depositphotos_16833415_s-2019_1743446924959628.jpg);
}

.entrance-image1,
.entrance-image2,
.entrance-image3,
.entrance-image4,
.entrance-image5,
.entrance-image6,
.entrance-image7,
.entrance-image8,
.entrance-image9,
.entrance-image10,
.entrance-image11 {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.entrance-image1 .upper-text,
.entrance-image1 .under-text,
.entrance-image2 .upper-text,
.entrance-image2 .under-text,
.entrance-image3 .upper-text,
.entrance-image3 .under-text,
.entrance-image4 .upper-text,
.entrance-image4 .under-text,
.entrance-image5 .upper-text,
.entrance-image5 .under-text,
.entrance-image6 .upper-text,
.entrance-image6 .under-text,
.entrance-image7 .upper-text,
.entrance-image7 .under-text,
.entrance-image8 .upper-text,
.entrance-image8 .under-text,
.entrance-image9 .upper-text,
.entrance-image9 .under-text,
.entrance-image10 .upper-text,
.entrance-image10 .under-text,
.entrance-image11 .upper-text,
.entrance-image11 .under-text {
  position: relative;
  font-weight: 700;
}
.entrance-image1 .upper-text,
.entrance-image2 .upper-text,
.entrance-image3 .upper-text,
.entrance-image4 .upper-text,
.entrance-image5 .upper-text,
.entrance-image6 .upper-text,
.entrance-image7 .upper-text,
.entrance-image8 .upper-text,
.entrance-image9 .upper-text,
.entrance-image10 .upper-text,
.entrance-image11 .upper-text {
  top: 49%;
  font-size: xxx-large;
  color: white;
}

.intro {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  flex-wrap: wrap;
}
.intro img {
  width: 420px;
  border-radius: 15px;
}
.intro .right-container {
  width: 40vw;
}
.intro .right-container h1 {
  color: olivedrab;
  text-align: center;
}
.intro .right-container .text {
  font-weight: bold;
  text-align: justify;
  margin: 0px 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.menu a {
  display: flex;
  justify-content: center;
  font-weight: 600;
  box-sizing: border-box;
  font-size: larger;
  margin: 20px 50px;
  padding: 10px;
  background-color: rgb(94, 107, 47);
  color: white;
  border-radius: 5px;
  width: 200px;
}
.menu a:hover {
  background-color: rgb(60, 73, 26);
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(24, 40, 13);
  color: white;
  height: 120px;
  align-items: center;
  font-size: xx-large;
}

.itcss {
  width: 70%;
  margin-bottom: 30px;
}

.itcss * {
  border-radius: 15px;
}

.itcss__item {
  position: relative;
}

.itcss__item::after {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

.img-fluid {
  display: inline-block;
  height: 300px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  width: 70%;
  margin: 15px auto;
  font-weight: bold;
  line-height: 25px;
  text-align: justify;
}

.one-image {
  width: 70%;
  text-align: center;
  margin: auto;
}
.one-image h2 {
  color: olivedrab;
}
.one-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 25px;
}

.four-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  color: olivedrab;
}
.four-img .img-container {
  text-align: center;
}
.four-img .img-container img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.two-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
@media (max-width: 1024px) {
  .two-img {
    display: none;
  }
}
.two-img .img-container {
  text-align: center;
  color: olivedrab;
}
.two-img .img-container img {
  width: 30vw;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.two-img .img-container .spec {
  width: 36vw;
}

.intro-book {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  flex-wrap: wrap;
}
.intro-book img {
  width: 420px;
  border-radius: 15px;
}
.intro-book .right-container {
  width: 40vw;
}
.intro-book .right-container h1 {
  color: olivedrab;
  text-align: center;
}
.intro-book .right-container .text {
  text-align: justify;
  margin: 0px 10px;
  line-height: 35px;
}
.intro-book .right-container .text li {
  font-weight: bold;
}/*# sourceMappingURL=LowerPlants.css.map */