@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat.ttf");
}

%a-black {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 56px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 0.1px solid grey;

  .brand {
    margin: 8px 0;
    margin-left: 20px;
    position: absolute;
    float: left;
    line-height: 40px;

    a {
      display: flex;
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-size: 15pt;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-transform: none;
    }
  }

  nav {
    @media(max-width:767px) {
      display:none;
    }
    right: 1%;
    position: fixed;
    box-sizing: content-box;

    a {
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-size: 15pt;
      font-weight: 500;
      text-transform: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        position: relative;
        margin: 8px 7pt;

        a {
          line-height: 40px;
        }
      }
    }
  }
}

.entrance-image {
  background-image: url(../pictures/wed-botanica2.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  text-align: center;
  opacity: 100%;

  .upper-text,
  .under-text {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }

  .upper-text {
    top: 49%;
    font-size: xx-large;
  }

  .under-text {
    top: 54%;
    font-size: 13pt;
    font-style: italic;
  }
}

.entrance {
  text-align: center;

  .text1 {
    font-family: 'Caveat';
    color: rgb(97, 126, 77);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 50px;
  }

  .text2 {
    font-family: Roboto, sans-serif;
    color: rgb(97, 126, 77);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 80px;
  }

  .text3 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin: 20px 0 30px 0;
  }

  .image {
    width: 85%;
    background-image: url(../pictures/listya-zelen-vetka.jpg);
    height: 150px;
    margin: 50px auto;
    border-radius: 15px;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(24, 40, 13);
    flex-wrap: wrap-reverse;

    .flex1,
    .flex2,
    .flex3 {
      display: flex;
      justify-content: center;
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-weight: 600;
      box-sizing: border-box;
      font-size: larger;
      margin: 20px 70px;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      width: 200px;
    }
  }
}

.flex-menu {
  margin: 35px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .plant {
    font-size: large;
    display: flex;
    font-family: Roboto, sans-serif;
    text-align: center;

    @media(min-width:620px) {
      width: 520px;
      margin: 15px;
    }

    @media (max-width:619px) {
      flex-direction: column;
      width: 300px;
      align-items: center;
      margin: 5px;
    }

    img {
      height: 250px;
      width: 250px;
      border-radius: 20px;
    }

    .right-container {

      h2 {
        margin: 0px auto 3px auto;
      }

      .text {
        font-size: larger;

        @media(min-width:620px) {
          height: 182px;
          // text-align: justify;
          // padding: 4px;
        }
        @media (max-width:619px) {
          text-align: justify;
          width:270px;
        }
      }

      .text-special {
        font-size: larger;

        @media(min-width:620px) {
          height: 151px;
          // text-align: justify;
          // padding:4px 30px;
        }
        // @media (max-width:619px) {
        //   text-align: justify;
        //   width:250px;
        // }
      }

      a {
        font-family: Roboto, sans-serif;
        color: white;
        background-color: rgb(97, 126, 77);
        display: flex;
        justify-content: center;
        text-decoration: none;
        box-sizing: border-box;
        @media (min-width:620px) {
          margin: 10px;
        }
        @media (max-width:619px) {
          margin: 10px 10px 12px 10px;
        }
        padding: 8px;
        border-radius: 5px;
      }
    }
  }
}



footer {
  font-family: Roboto, sans-serif;
  font-size: larger;
  text-align: center;
  // background-color: rgb(241, 241, 241);
  padding: 32px;
  margin-top: 50px;
  letter-spacing: 1.2px;
}

.entrance-image1 {
  background-image: url(../pictures/lavender.jpg);
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  text-align: center;

  .upper-text,
  .under-text {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }

  .upper-text {
    top: 49%;
    @media (max-width:425px){
      font-size: xx-large;
    }
    @media (min-width:426px){
      font-size: xxx-large;
    }
    //font-size: xxx-large;
    color: white;
  }
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(24, 40, 13);
  color: white;
  font-family: Roboto, sans-serif;;
  height: 120px;
  align-items: center;
  font-size: xx-large;
}

.intro {
  text-align: center;

  .image1,
  .image2,
  .image3 {
    width: 80%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: 0;
    margin: 0 auto;
  }

  .image1 {
    background-image: url(../pictures/vodorosli.jpg);
  }

  .image2 {
    background-image: url(../pictures/spor.jpg);
  }

  .image3 {
    background-image: url(../pictures/golosemen_nada_szhat.jpg);
  }

  .text {
    font-family: Roboto, sans-serif;;
    font-size: x-large;
    font-weight: bold;
    color: darkolivegreen;
    margin: 15px auto;
  }

  .button1,
  .button2 {
    @extend %a-black;
    font-size: larger;
    font-family: Roboto, sans-serif;
    color: white;
    background-color: darkolivegreen;
    border-radius: 15px;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    letter-spacing: 1.2px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: 80%;
    gap: 25px 50px;

    .flex-box {
      @media (min-width:426px){
        width: 350px;
      }
      @media (max-width:425px){
        width: 270px;
      }

      .img1,
      .img2,
      .img3,
      .img4,
      .img5,
      .img6,
      .img7,
      .img8,
      .img9 {
        display: flex;
        @media (min-width:426px){
          width: 350px;
          height: 350px;
        }
        @media (max-width:425px){
          width: 270px;
          height: 270px;
        }
        background-position: 0;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin-bottom: 15px;
      }

      .img1 {
        background-image: url(../pictures/zelen_vodorosli.jpg);
      }

      .img2 {
        background-image: url(../pictures/bury_vodorosli.jpg);
      }

      .img3 {
        background-image: url(../pictures/diatom_vodorosli.jpg);
      }

      .img4 {
        background-image: url(../pictures/gold_vodorosli.jpg);
      }

      .img5 {
        background-image: url(../pictures/red_vodorosli.jpg);
      }

      .img6 {
        background-image: url(../pictures/chor_vodorosli.jpg);
      }

      .img7 {
        background-image: url(../pictures/moh.jpg);
      }

      .img8 {
        background-image: url(../pictures/paporotnik.jpg);
      }

      .img9 {
        background-image: url(../pictures/plaun_hvoshi.jpg);
      }

      .button2 {
        width: 100%;
      }
    }
  }
}