@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat.ttf");
}

%a-black {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 56px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 0.1px solid grey;

  .brand {
    margin: 8px 0;
    margin-left: 20px;
    position: absolute;
    float: left;
    line-height: 40px;

    a {
      display: flex;
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-size: 15pt;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-transform: none;
    }
  }

  nav {
    right: 1%;
    position: fixed;
    box-sizing: content-box;

    a {
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-size: 15pt;
      font-weight: 500;
      text-transform: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        position: relative;
        margin: 8px 7pt;

        a {
          line-height: 40px;
        }
      }
    }
  }
}

.entrance-image {
  background-image: url(../pictures/wed-botanica2.jpg);
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  text-align: center;
  opacity: 100%;

  .upper-text,
  .under-text {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }

  .upper-text {
    top: 49%;
    font-size: 25pt;
  }

  .under-text {
    top: 54%;
    font-size: 13pt;
    font-style: italic;
  }
}

.entrance {
  text-align: center;

  .text1 {
    font-family: 'Caveat';
    color: rgb(97, 126, 77);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 50px;
  }

  .text2 {
    font-family: Roboto, sans-serif;
    color: rgb(97, 126, 77);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 80px;
  }

  .text3 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin: 20px 0 30px 0;
  }

  .image {
    width: 85%;
    background-image: url(../pictures/listya-zelen-vetka.jpg);
    height: 150px;
    margin: 50px auto;
    border-radius: 15px;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(24, 40, 13);
    flex-wrap: wrap-reverse;

    .flex1,
    .flex2,
    .flex3 {
      display: flex;
      justify-content: center;
      @extend %a-black;
      font-family: Roboto, sans-serif;
      font-weight: 600;
      box-sizing: border-box;
      font-size: larger;
      margin: 20px 70px;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      width: 200px;
    }
  }
}

.flex-menu {
  margin:35px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  .plant {
    font-size: large;
    display: flex;
    width: 520px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin:15px;

    img {
      height: 250px;
      width: 250px;
      border-radius: 20px;
    }

    .right-container {
      h2 {
        margin: 10px auto;
      }

      .text{
        font-size: larger;
        height:182px;
      }
      a {
        font-family: Roboto, sans-serif;
        color: white;
        background-color: rgb(97, 126, 77);
        display: flex;
        justify-content: center;
        text-decoration: none;
        box-sizing: border-box;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
      }
    }
  }
}
.text-special{
  font-size: larger;
  height:151px;
}

footer{
  font-family: Roboto, sans-serif;
  font-size: larger;
  text-align:center;
  // background-color: rgb(241, 241, 241);
  padding: 32px;
  margin-top: 100px;
  letter-spacing: 1.2px;
}